body,h1,h3,p,footer{
    padding: 0;
    margin: 0;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
body{
    font-family: 'Roboto', sans-serif;
}
/*--------------*/



/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.just_content_spa_even{
    justify-content: space-evenly;
}
.just_content_spa_bet{
    justify-content: space-between;
}
.al_item_center{
    align-items: center;
}
.al_item_end{
    align-items: flex-end;
}
.pos_icon_coeur_acc{
    right: 25px;
    bottom: 15px;
}
.pos_icon_coeur_page{
    right: 30px;
}
.pos_icon_fleche{
    left: 15px;
}
.top_20{
    top: 20px;
}
.text_ali_center{
    text-align: center;
}
.left_30{
    left: 30px;
}
.top_35{
    top: 35px;
}
/*----------------------*/


/*-----espace-----*/
.marg_20{
    margin: 20px;
}
.marg_bott_5{
    margin-bottom: 5px;
}
.marg_top_10{
    margin-top: 10px;
}
.marg_top_5{
    margin-top: 5px;
}
.marg_bott_10{
    margin-bottom: 10px;
}
.marg_bot_70{
    margin-bottom: 70px;
}
.pad_bot_70{
    padding-bottom: 70px;
}
.marg_auto{
    margin: auto;
}
.pad_20{
    padding: 20px;
}
.pad_10{
    padding: 10px;
}
.pad_5{
    padding: 5px;
}.pad_l_10{
    padding-left: 10px;
}
.marg_bott_20{
    margin-bottom: 20px;
}
.pad_top_20{
    padding-top: 20px;
}
.marg_0{
    margin: 0px;
}
.top-20{
    top: -20px;
}
.pad_bot_5{
    padding-bottom: 5px;
}
.pad_top_3{
    padding-top: 3px;
}
.pad_bot_30{
    padding-bottom: 30px;
}
.pad_top_10{
    padding-top: 10px;
}
.pad_r_20{
    padding-right: 20px;
}
.pad_15{
    padding: 15px;
}
/*---------------*/


/*------taille------*/
.width_90{
    width: 90%;
}
.width_190{
    width: 190px;
}
.height_50{
    height: 50px;
}
.height_250{
    height: 250px;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 60px;
}
.div_fonc_width{
    width: 100vw;
}
.div_height_4{
    height: 4px;
}
.div_width_40{
    width: 40px;
}
.cercle_width{
    width: 20px;
}
.cercle_height{
    height: 20px;
}
.width_0{
    width: 0px;
}
/*------------------*/



/*------color-----*/
.background_Lgrey{
    background-color: rgb(246, 246, 246);
}
.bg_grey{
    background-color: rgb(234, 234, 234);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
}
.button_bg{
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 96%);
}
.color_div{
    background-color: #99E2D0;
}
.color_cercle{
    background-color: #9356DC;
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
.border_radius_button{
    border-radius: 90px;
}
.style_menu_fonc{
    border-radius: 15px;
}
.box_shadow{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.border_none{
    border: none;
}
.cercle{
    border-radius: 10px;
}
.dis_none{
    display: none;
}
.shadow_titre{
    box-shadow: 5px 5px 5px rgb(241, 0, 0);
}
/*-------------------*/



/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
.text_color_green{
    color: rgb(72, 142, 116);
}
.font_15{
    font-size: 15px;
}
.bold{
    font-weight: bolder;
}
.font_10{
    font-size: 10px;
}
.font_W_800{
    font-weight: 800;
}
.font_w_300{
    font-weight: 300;
}
.font_28{
    font-size: 28px;
}
.font_w_500{
    font-weight: 500;
}
/*----------------------*/


.hover_fonc:hover{
    background-color: rgb(243, 232, 255);
}

#mot_restaurant{
    position: relative;
    left: -100px;
}

.animation_coche{
    transition: 3s;
    width: 100%;
}
.animation_coche:hover{
    width: 75%;
}
.animation_coche::before{
    height: 40px;
    width: 40px;
    background-color: #9356DC;
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
}
#anime{
    transition: 0.5s;
}

@keyframes anim {
    0%{
        width: 0px;
        position: absolute;
    }
    100%{
        width: 40px;
        position: relative;
    }
}