body{
    padding: 0;
    margin: 0;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
@font-face {
    font-family:"Roboto-Regular, sans-serif" ;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}
body{
    font-family: "Roboto-Regular, sans-serif";
}
/*--------------*/


/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.al_item_center{
    align-items: center;
}
.pos_icon_coeur{
    right: 25px;
    bottom: 40px;
}
/*----------------------*/


/*------taille------*/
.width_80{
    width: 80%;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 100px;
}
/*------------------*/


/*------color-----*/
.background_grey{
    background-color: rgb(188, 187, 187);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
/*-------------------*/

/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
/*----------------------*/