body,h1,h3,p,footer{
    padding: 0;
    margin: 0;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
body{
    font-family: 'Roboto', sans-serif;
}
/*--------------*/



/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.just_content_spa_even{
    justify-content: space-evenly;
}
.just_content_spa_bet{
    justify-content: space-between;
}
.al_item_center{
    align-items: center;
}
.al_item_end{
    align-items: flex-end;
}
.pos_icon_coeur_acc{
    right: 25px;
    bottom: 15px;
}
.pos_icon_coeur_page{
    right: 30px;
}
.pos_icon_fleche{
    left: 15px;
}
.top_20{
    top: 20px;
}
.text_ali_center{
    text-align: center;
}
.left_30{
    left: 30px;
}
.top_35{
    top: 35px;
}
.right_15{
    right: 15px;
}
.top_23{
    top: 23px;
}
.left_13{
    left:13px;
}
/*----------------------*/


/*-----espace-----*/
.marg_20{
    margin: 20px;
}
.marg_bott_5{
    margin-bottom: 5px;
}
.marg_top_10{
    margin-top: 10px;
}
.marg_top_5{
    margin-top: 5px;
}
.marg_bott_10{
    margin-bottom: 10px;
}
.marg_bot_70{
    margin-bottom: 70px;
}
.pad_bot_70{
    padding-bottom: 70px;
}
.marg_auto{
    margin: auto;
}
.pad_20{
    padding: 20px;
}
.pad_10{
    padding: 10px;
}
.pad_5{
    padding: 5px;
}.pad_l_10{
    padding-left: 10px;
}
.marg_bott_20{
    margin-bottom: 20px;
}
.pad_top_20{
    padding-top: 20px;
}
.marg_0{
    margin: 0px;
}
.top-20{
    top: -20px;
}
.pad_bot_5{
    padding-bottom: 5px;
}
.pad_top_3{
    padding-top: 3px;
}
.pad_bot_30{
    padding-bottom: 30px;
}
.pad_top_10{
    padding-top: 10px;
}
.pad_r_20{
    padding-right: 20px;
}
.pad_15{
    padding: 15px;
}
.top-30{
    top: -30px;
}
.bott_43{
    bottom: 44px;
}
.top_0{
    top: 0px;
}
/*---------------*/


/*------taille------*/
.width_100{
    width: 100%;
}
.width_90{
    width: 90%;
}
.width_190{
    width: 190px;
}
.height_50{
    height: 50px;
}
.height_250{
    height: 250px;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 60px;
}
.div_fonc_width{
    width: 100vw;
}
.div_height_4{
    height: 4px;
}
.div_width_40{
    width: 40px;
}
.cercle_width{
    width: 20px;
}
.cercle_height{
    height: 20px;
}
.width_0{
    width: 0px;
}
.width_360{
    width: 400px;
}
.height_60{
    height: 60px;
}
.width_230{
    width: 260px;
}
/*------------------*/



/*------color-----*/
.background_Lgrey{
    background-color: rgb(246, 246, 246);
}
.bg_grey{
    background-color: rgb(234, 234, 234);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
}
.button_bg{
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 96%);
}
.color_div{
    background-color: #99E2D0;
}
.color_cercle{
    background-color: #9356DC;
}
.icon_hover:hover{
    color: #9356DC;
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
.border_radius_button{
    border-radius: 90px;
}
.style_menu_fonc{
    border-radius: 15px;
}
.box_shadow{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.border_none{
    border: none;
}
.cercle{
    border-radius: 10px;
}
.dis_none{
    display: none;
}
.shadow_titre{
    box-shadow: 0px 0px 5px rgb(73, 73, 73);
}
.border_r{
    border-radius: 30px 30px 0px 0px;
}
.border_R_15{
    border-radius: 0px 15px 15px 0px;
}
/*-------------------*/



/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
.text_color_green{
    color: rgb(72, 142, 116);
}
.font_15{
    font-size: 15px;
}
.bold{
    font-weight: bolder;
}
.font_10{
    font-size: 10px;
}
.font_W_800{
    font-weight: 800;
}
.font_w_300{
    font-weight: 300;
}
.font_28{
    font-size: 28px;
}
.font_w_500{
    font-weight: 500;
}
.font_30{
    font-size: 30px;
}
.color_grey{
    color: dimgrey;
}
/*----------------------*/

.z_inf{
    z-index: -1;
}
.hover_fonc:hover{
    background-color: rgb(243, 232, 255);
}

#mot_restaurant{
    position: relative;
    left: -100px;
}

.animation_coche{
    transition: 3s;
    width: 100%; 
    border-radius:15px;
}
.animation_coche:hover{
    width: 85%;
    border-radius: 15px 0px 0px 15px;
}
.test_coeur{
    border: 1px solid black;
    width: 40px;
    background-color: rgb(244, 244, 244);
    transition: 0.35s  ease-in-out;
    transition: height 2s;
    clip-path: polygon(10% 30%, 11.70776081085205% 21.901859283447266%, 16.55534553527832% 15.19304084777832%, 23.6988525390625% 11.01323413848877%, 31.92439842224121% 10.091790199279785%, 39.81953048706055% 12.572881698608398%, 46.03266906738281% 18.0417537689209%, 49.503883361816406% 25.55470848083496%, 50.36681365966797% 26.168773651123047%, 53.59988021850586% 18.55046272277832%, 59.63880920410156% 12.889751434326172%, 67.45187377929688% 10.160799980163574%, 75.70257568359375% 10.82480239868164%, 82.97345733642578% 14.778581619262695%, 88.02918243408203% 21.332130432128906%, 89.98994445800781% 29.37255859375%, 89.34539031982422% 37.672271728515625%, 87.24967956542969% 45.73133850097656%, 83.93061065673828% 53.37131881713867%, 79.65013885498047% 60.519927978515625%, 74.64020538330078% 67.17975616455078%, 69.08085632324219% 73.38973236083984%, 63.10395812988281% 79.199951171875%, 56.80339813232422% 84.65811157226562%, 50.250328063964844% 89.81077575683594%, 43.68177795410156% 85.05619812011719%, 37.36013412475586% 79.6224365234375%, 31.35593605041504% 73.84038543701172%, 25.76107406616211% 67.66227722167969%, 20.70428466796875% 61.03786087036133%, 16.361190795898438% 53.92692947387695%, 12.960660934448242% 46.32259750366211%, 10.764165878295898% 38.29020309448242%, 10% 30%);
}
.test_coeur:hover{
    background-color: #9356DC;
    height: 40px;
}
p{  
    width:100%;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anim{
    display: none;
}
.anim:hover{
    display: block;
    width: 40px;
}
.overflow_h{
    overflow: hidden;
}

.anime{
    transition: 3s;
    width: 0px;
}
.anime:hover{
    width: 40px;
}
.z1{
    z-index: 1;
}
.z4{
    z-index: 4;
}
.text_h{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anim_coeur:hover::after{
    background-color: white;
    transition: 3s;
}