body,h1,h3,p,footer{
    padding: 0;
    margin: 0;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
@font-face {
    font-family:"Roboto-Regular, sans-serif" ;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}
body{
    font-family: "Roboto-Regular, sans-serif";
}
/*--------------*/



/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.just_content_spa_bet{
    justify-content: space-between;
}
.al_item_center{
    align-items: center;
}
.pos_icon_coeur_acc{
    right: 25px;
    bottom: 15px;
}
.pos_icon_coeur_page{
    right: 30px;
}
.pos_icon_fleche{
    left: 15px;
}
.top_15{
    top: 15px;
}
.text_ali_center{
    text-align: center;
}
.left_30{
    left: 30px;
}
/*----------------------*/


/*-----espace-----*/
.marg_20{
    margin: 20px;
}
.marg_bott_5{
    margin-bottom: 5px;
}
.marg_top_10{
    margin-top: 10px;
}
.marg_top_5{
    margin-top: 5px;
}
.pad_20{
    padding: 20px;
}
.pad_10{
    padding: 10px;
}
.pad_5{
    padding: 5px;
}
.marg_bott_20{
    margin-bottom: 20px;
}
.pad_top_20{
    padding-top: 20px;
}
.marg_0{
    margin: 0px;
}
.top-20{
    top: -20px;
}
/*---------------*/


/*------taille------*/
.width_90{
    width: 90%;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 60px;
}
.div_fonc_width{
    width: 100vw;
}
.div_height_4{
    height: 4px;
}
.div_width_40{
    width: 40px;
}
.cercle_width{
    width: 20px;
}
.cercle_height{
    height: 20px;
}
.width_0{
    width: 0px;
}
/*------------------*/



/*------color-----*/
.background_Lgrey{
    background-color: rgb(246, 246, 246);
}
.bg_grey{
    background-color: rgb(234, 234, 234);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
}
.button_bg{
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 96%);
}
.color_div{
    background-color: #99E2D0;
}
.color_cercle{
    background-color: #9356DC;
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
.border_radius_button{
    border-radius: 90px;
}
.style_menu_fonc{
    border-radius: 15px;
}
.box_shadow{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.border_none{
    border: none;
}
.cercle{
    border-radius: 10px;
}
.dis_none{
    display: none;
}
/*-------------------*/



/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
.text_color_green{
    color: rgb(72, 142, 116);
}
/*----------------------*/


.animation_coche:hover{
    
}

#anime{
    animation-name: anim;
    animation-duration: 3s;
}

@keyframes anim {
    0%{
        width: 0px;
        position: absolute;
    }
    100%{
        width: 40px;
        position: relative;
    }
}