body{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}