body,h1,h3,p,footer{
    padding: 0;
    margin: 0;
}

div{
    border: 2px solid black;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
@font-face {
    font-family:"Roboto-Regular, sans-serif" ;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}
body{
    font-family: "Roboto-Regular, sans-serif";
}
/*--------------*/



/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.al_item_center{
    align-items: center;
}
.pos_icon_coeur_acc{
    right: 25px;
    bottom: 40px;
}
.pos_icon_coeur_page{
    right: 30px;
    top: 250px;
}
.pos_icon_fleche{
    left: 15px;
}
.top_15{
    top: 15px;
}
/*----------------------*/


/*-----espace-----*/
.marg_20{
    margin: 20px;
}
.pad_20{
    padding: 20px;
}
.pad_10{
    padding: 10px;
}
.marg_bott_20{
    margin-bottom: 20px;
}
.pad_top_20{
    padding-top: 20px;
}
/*---------------*/


/*------taille------*/
.width_90{
    width: 90%;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 60px;
}
.div_fonc_width{
    width: 100vw;
}
/*------------------*/



/*------color-----*/
.background_Lgrey{
    background-color: rgb(246, 241, 241);
}
.bg_grey{
    background-color: rgb(226, 224, 224);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
}
.button_bg{
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 96%);
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
.border_radius_button{
    border-radius: 90px;
}
.style_menu_fonc{
    border-radius: 15px;
}
.box_shadow{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.border_none{
    border: none;
}
/*-------------------*/



/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
/*----------------------*/