body,h1,h3,p,footer{
    padding: 0;
    margin: 0;
}

/*-----font-----*/
@font-face {
    font-family: "Shrikhand-Regular, sans-serif" ;
    src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
.titre{
    font-family:"Shrikhand-Regular, sans-serif";
}
body{
    font-family: 'Roboto', sans-serif;
}
/*--------------*/



/*-----position-----*/
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
}
.dis_flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.just_content_center{
    justify-content: center;
}
.just_content_spa_even{
    justify-content: space-evenly;
}
.just_content_spa_bet{
    justify-content: space-between;
}
.al_item_center{
    align-items: center;
}
.al_item_end{
    align-items: flex-end;
}
.pos_icon_coeur_acc{
    right: 25px;
    bottom: 15px;
}
.pos_icon_coeur_page{
    right: 30px;
}
.pos_icon_fleche{
    left: 15px;
}
.top_20{
    top: 20px;
}
.text_ali_center{
    text-align: center;
}
.left_30{
    left: 30px;
}
.top_35{
    top: 35px;
}
.right_15{
    right: 15px;
}
.top_23{
    top: 23px;
}
.left_13{
    left:13px;
}
.right-40{
    right: -40px;
}
/*----------------------*/


/*-----espace-----*/
.marg_20{
    margin: 20px;
}
.marg_bott_5{
    margin-bottom: 5px;
}
.marg_top_10{
    margin-top: 10px;
}
.marg_top_5{
    margin-top: 5px;
}
.marg_bott_10{
    margin-bottom: 10px;
}
.marg_bot_70{
    margin-bottom: 70px;
}
.pad_bot_70{
    padding-bottom: 70px;
}
.marg_auto{
    margin: auto;
}
.pad_20{
    padding: 20px;
}
.pad_10{
    padding: 10px;
}
.pad_5{
    padding: 5px;
}.pad_l_10{
    padding-left: 10px;
}
.marg_bott_20{
    margin-bottom: 20px;
}
.pad_top_20{
    padding-top: 20px;
}
.marg_0{
    margin: 0px;
}
.top-20{
    top: -20px;
}
.pad_bot_5{
    padding-bottom: 5px;
}
.pad_top_3{
    padding-top: 3px;
}
.pad_bot_30{
    padding-bottom: 30px;
}
.pad_top_10{
    padding-top: 10px;
}
.pad_r_20{
    padding-right: 20px;
}
.pad_15{
    padding: 15px;
}
.top-30{
    top: -30px;
}
.bott_43{
    bottom: 44px;
}
.top_0{
    top: 0px;
}
.right_20{
    right: 20px;
}
/*---------------*/


/*------taille------*/
.width_100{
    width: 100%;
}
.width_90{
    width: 90%;
}
.width_190{
    width: 190px;
}
.height_50{
    height: 50px;
}
.height_250{
    height: 250px;
}
img{
    min-width: 100%;
    object-fit: cover;
}
.img_height{
    height: 200px;
}
.div_height{
    height: 60px;
}
.div_fonc_width{
    width: 100vw;
}
.div_height_4{
    height: 4px;
}
.div_width_40{
    width: 40px;
}
.cercle_width{
    width: 20px;
}
.cercle_height{
    height: 20px;
}
.width_0{
    width: 0px;
}
.width_360{
    width: 400px;
}
.height_60{
    height: 60px;
}
.width_230{
    width: 260px;
}
.height_40{
    height: 40px;
}
.height_0{
    height: 0px;
}
.width_20{
    width: 20px;
}
.height_20{
    height: 20px;
}
.width_initial{
    width: initial;
}
.width_unset{
    width: unset;
}
.width_300{
    width: unset;
}
/*------------------*/



/*------color-----*/
.background_Lgrey{
    background-color: rgb(246, 246, 246);
}
.bg_grey{
    background-color: rgb(234, 234, 234);
}
.bg_white{
    background-color: white;
}
.footer_color{
    color: white;
}
.footer_bg_color{
    background-color: rgb(54, 54, 54);
}
.nouveau{
    background-color: #99E2D0;
    top: 10px;
    right: 20px;
    width: initial;
}
.button_bg{
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 96%);

}
.button_bg:hover{
    background: linear-gradient(352deg, rgb(160, 117, 212) 38%, rgb(254, 152, 225) 96%);
    box-shadow: 3px 3px 10px rgb(207, 206, 206) !important;
}
.color_div{
    background-color: #99E2D0;
}
.color_cercle{
    background-color: #9356DC;
}
.icon_hover:hover{
    color: #9356DC;
}
/*--------------------*/



/*-----style_box-----*/
.border_radius_box{
    border-radius:20px;
}
.border_radius_img{
    border-radius: 20px 20px 0px 0px;
}
.border_radius_button{
    border-radius: 90px;
}
.style_menu_fonc{
    border-radius: 15px;
}
.box_shadow{
    box-shadow: 3px 3px 5px rgb(207, 206, 206);
}
.border_none{
    border: none;
}
.cercle{
    border-radius: 10px;
}
.dis_none{
    display: none;
}
.shadow_titre{
    box-shadow: 0px 0px 5px rgb(73, 73, 73);
}
.border_r{
    border-radius: 30px 30px 0px 0px;
}
.border_R_15{
    border-radius: 0px 15px 15px 0px;
}
/*-------------------*/



/*------style_text------*/
a{
    text-decoration: none;
    color: black;
}
.text_color_black{
    color: black;
}
.text_color_white{
    color: white;
}
.text_color_green{
    color: rgb(72, 142, 116);
}
.font_15{
    font-size: 15px;
}
.bold{
    font-weight: bolder;
}
.font_10{
    font-size: 10px;
}
.font_W_800{
    font-weight: 800;
}
.font_w_300{
    font-weight: 300;
}
.font_28{
    font-size: 28px;
}
.font_w_500{
    font-weight: 500;
}
.font_30{
    font-size: 30px;
}
.color_grey{
    color: dimgrey;
}

/*----------------------*/

.z_inf{
    z-index: -1;
}
.hover_fonc:hover{
    background-color: rgb(243, 232, 255);
}

#mot_restaurant{
    position: relative;
    left: -100px;
}
/*
.animation_coche{
    transition: 3s;
    width: 100%; 
    border-radius:15px;
}
.animation_coche:hover{
    width: calc(100% - 40px);
    border-radius: 15px 0px 0px 15px;
}*/
.test_coeur::after{
    position: absolute;
    bottom: 0;
    content: close-quote;
    /*clip-path: polygon(14.75% 1%, 12.863950729370117% 1.3462668657302856%, 11.228732109069824% 2.347884178161621%, 10.063519477844238% 3.8707759380340576%, 8.99545955657959% 2.5356156826019287%, 7.428951740264893% 1.429687738418579%, 5.569797039031982% 0.9601011276245117%, 3.6662702560424805% 1.1919761896133423%, 1.9733257293701172% 2.0923678874969482%, 0.7181099653244019% 3.5420918464660645%, 0.06773404031991959% 5.345921516418457%, 0.1053122729063034% 7.263592720031738%, 0.7307373881340027% 9.082732200622559%, 1.688586711883545% 10.754598617553711%, 2.8357582092285156% 12.30385684967041%, 4.102503299713135% 13.757465362548828%, 5.453361988067627% 15.133504867553711%, 6.867874622344971% 16.444101333618164%, 8.334426879882812% 17.696252822875977%, 9.849870681762695% 18.88869285583496%, 11.375795364379883% 17.932357788085938%, 12.851428985595703% 16.69095230102539%, 14.276973724365234% 15.392341613769531%, 15.641345977783203% 14.029680252075195%, 16.92664909362793% 12.592409133911133%, 18.100900650024414% 11.06346321105957%, 19.103473663330078% 9.417715072631836%, 19.8104248046875% 7.627683639526367%, 19.97322654724121% 5.716945648193359%, 19.434059143066406% 3.8768458366394043%, 18.26873779296875% 2.3538787364959717%, 16.635498046875% 1.3491228818893433%, 14.75% 0.9999999403953552%);*/
    width: 100%;
    height: 0%;
    background: #9356DC;
 
}
.test_coeur:hover::after{
    transition: 1500ms;
    height: 100%;
}
p{  
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.overflow_h{
    overflow: hidden;
}

.anime{
    transition: 3s;
    width: 0px;
}

.z1{
    z-index: 1;
}
.z4{
    z-index: 4;
}
.text_h{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bg_coeur{
    /*
    background-position: center;
    background-size:32px 36px;
    background-image: url("../images/svg/coeur-2.svg");
    clip-path: polygon(10% 30%, 11.70776081085205% 21.901859283447266%, 16.55534553527832% 15.19304084777832%, 23.6988525390625% 11.01323413848877%, 31.92439842224121% 10.091790199279785%, 39.81953048706055% 12.572881698608398%, 46.03266906738281% 18.0417537689209%, 49.503883361816406% 25.55470848083496%, 50.36681365966797% 26.168773651123047%, 53.59988021850586% 18.55046272277832%, 59.63880920410156% 12.889751434326172%, 67.45187377929688% 10.160799980163574%, 75.70257568359375% 10.82480239868164%, 82.97345733642578% 14.778581619262695%, 88.02918243408203% 21.332130432128906%, 89.98994445800781% 29.37255859375%, 89.34539031982422% 37.672271728515625%, 87.24967956542969% 45.73133850097656%, 83.93061065673828% 53.37131881713867%, 79.65013885498047% 60.519927978515625%, 74.64020538330078% 67.17975616455078%, 69.08085632324219% 73.38973236083984%, 63.10395812988281% 79.199951171875%, 56.80339813232422% 84.65811157226562%, 50.250328063964844% 89.81077575683594%, 43.68177795410156% 85.05619812011719%, 37.36013412475586% 79.6224365234375%, 31.35593605041504% 73.84038543701172%, 25.76107406616211% 67.66227722167969%, 20.70428466796875% 61.03786087036133%, 16.361190795898438% 53.92692947387695%, 12.960660934448242% 46.32259750366211%, 10.764165878295898% 38.29020309448242%, 10% 30%);
    */
    width: 40px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    clip-path: polygon(10% 30%, 10.964163780212402% 23.847850799560547%, 13.781545639038086% 18.294574737548828%, 18.167877197265625% 13.87390422821045%, 23.698843002319336% 11.012911796569824%, 29.84322738647461% 10.00069522857666%, 36.00278854370117% 10.916526794433594%, 41.5780029296875% 13.690196990966797%, 46.03273391723633% 18.041913986206055%, 48.937103271484375% 23.55021095275879%, 49.99748992919922% 29.686431884765625%, 50.87010192871094% 24.147005081176758%, 53.59980392456055% 18.55011749267578%, 57.916664123535156% 14.061568260192871%, 63.402008056640625% 11.113999366760254%, 69.52970886230469% 10.005491256713867%, 75.7029037475586% 10.824935913085938%, 81.32111358642578% 13.510400772094727%, 85.84317779541016% 17.792112350463867%, 88.8337631225586% 23.25417137145996%, 89.9903564453125% 29.372953414916992%, 89.65007781982422% 35.61106491088867%, 88.46686553955078% 41.74618911743164%, 86.52460479736328% 47.68563461303711%, 83.93058776855469% 53.37174606323242%, 80.79669952392578% 58.779991149902344%, 77.22384643554688% 63.90948486328125%, 73.2959976196289% 68.77303314208984%, 69.0808334350586% 73.39031219482422%, 64.63136291503906% 77.78248596191406%, 59.98921585083008% 81.97077941894531%, 55.18699645996094% 85.97466278076172%, 50.25046920776367% 89.81172180175781%, 45.30208206176758% 86.36652374267578%, 40.485450744628906% 82.38014221191406%, 35.82589340209961% 78.211181640625%, 31.35537338256836% 73.84033966064453%, 27.114566802978516% 69.24664306640625%, 23.155170440673828% 64.40867614746094%, 19.54315948486328% 59.30665588378906%, 16.360923767089844% 53.926612854003906%, 13.707906723022461% 48.26767349243164%, 11.695180892944336% 42.35161209106445%, 10.43166732788086% 36.232295989990234%, 10% 30%);
    background: 4px 3px url(https://zupimages.net/up/21/40/anhq.png) no-repeat;
    background-size: 32px 28px;
}


.test{
    position: absolute;
    height: 38px;
    transition: 3s;

}


.loader{
    position: fixed;
    height: 100%;
    width: 100%; 
    background-color: rgba(128, 128, 128, 0.375);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 134578903456;
    animation: loader 2s both;
}
.load{
    border: 10px solid grey;
    border-top:10px solid #99E2D0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation: spin 2s linear infinite;
} 

@keyframes loader {
        from { opacity: 100%; }
        90% { opacity: 100%; }
        to { opacity: 0%; visibility: hidden; }
}
.img{
    object-fit: none;
}
.test1{
    z-index: 1334567890;
}

.test1:hover:nth-child(1)>:nth-child(1){
    transition: 800ms;
    right: 0px;
}
.test1:nth-child(1)>:nth-child(1){
    transition: 800ms;

}
.test1:nth-child(1)>:nth-child(2){
    width: 100%;
    transition: 800ms;
}
.test1:hover:nth-child(1)>:nth-child(2){
    width: calc(100% - 40px);
    transition: 800ms;
} 
.test1:hover:nth-child(1)>:nth-child(1)>:nth-child(1){
    transition: 800ms;
    animation: spin 800ms;
}
@keyframes spin {
        from{
            transform:rotate(0deg);
        }
        to{
            transform:rotate(360deg);
        }
    }
/*
.text_pop:nth-child(n+1)>:nth-child(-n+1){
    visibility: hidden;
    transition: 3s;
    animation: apparition 3s;
}

.text_pop:nth-child(n+1)>:nth-child(-n+2){
    visibility: hidden;
    display: none;
    transition: 4s;
    animation: apparition 4s;
}
*/
.text_pop:nth-child(n+1)>:nth-child(0n+1){
    position: absolute;
    opacity: 0%;
    visibility: hidden;
    transition: visibility 0s, opacity 5s;
    animation: apparition 2s 2s both;
   
}
.text_pop:nth-child(n+1)>:nth-child(0n+2){
    position: absolute;
    opacity: 0%;
    visibility: hidden;
    transition: visibility 0s, opacity 5s;
    animation: apparition 2s 2500ms both;
}
.text_pop:nth-child(n+1)>:nth-child(0n+3){
    position: absolute;
    opacity: 0%;
    visibility: hidden;
    transition: visibility 0s, opacity 5s;
    animation: apparition 2s 3000ms both;
}
.text_pop:nth-child(n+1)>:nth-child(0n+4){
    position: absolute;
    opacity: 0%;
    visibility: hidden;
    transition: visibility 0s, opacity 5s;
    animation: apparition 2s 3500ms both;
}

@keyframes apparition{
    from{
        opacity: 0%;
        position: absolute;
    }
    20%{
        position: relative;
        opacity: 20%;
    }
    to{
        position: relative;
        opacity: 100%;
        visibility: visible;
    }
}

.margin_vignette{
    margin:10px;
}
@media screen and (min-width:450px) {
    #mot_restaurant{
        left: unset;
    }
    
}
@media  screen and (min-width: 700px) {
    .media_w400{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .width_300{
        width: 300px;
    }
    #mot_restaurant{
        left: unset;
    }
    .width_90{
        width: unset;
    }


}
@media screen and (min-width:900px) {     
    .width_400v2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .width_400v3{
        display: flex;
        flex-direction: row;
    }
    .icon_acc_w400{
        position: relative;
        width: 250px;
    }
    .chiffre_w400{
        left: -10px;
    }
    
}

@media screen and (min-width: 1200px){
    .width_90{
        width: 90%;
    }
    .width_300{
        width: 240px;
    }
    .img_w{
        width: 240px;
    }
    .vu_w1200_p1{
        display: flex;
        justify-content: space-evenly;
    }
    .pad_top_20w1200{
        padding-top: unset;
    }
}

@media screen and (min-width:1330px){
    .img_w{
        width: unset;
    }
    .width_300{
        width: 300px;
    }
}